<!DOCTYPE html>
<html lang="en">
    <head>
        #set($version="2017062101")
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit">
        <meta name="robots" content="index,follow">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0">
        <meta name="keywords" content="网上贷款，小额贷款，个人短期借贷，手机借贷">
        <meta name="description" content="纷信信用是一款专注于为年轻人提供全方位消费金融服务的App,提供小额借贷，现金借贷，信用借贷，个人短期借贷，审核快放款快，低至一分钟放款。">
        <meta name="format-detection" content="telephone=no,address=no,email=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="yes">
        <meta http-equiv="x-rim-auto-match" content="none">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" type="text/css" href="/dist/css/reset.css?version=$version">
        <link rel="stylesheet" type="text/css" href="/dist/css/base.css?version=$version">
        <script type="text/javascript" src="/dist/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/common/js/vue.min.js"></script>
        <script type="text/javascript" src="/dist/js/layer.js"></script>
        <script type="text/javascript" src="/dist/js/jquery.lazyload.js"></script>
        <script type="text/javascript" src="/dist/js/base.js?version=$version"></script>
        <script type="text/javascript">
            // 判断rem字体大小
            (function (doc, win) {
                var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                };
                if (!doc.addEventListener) return;
                win.addEventListener(resizeEvt, recalc, false);
                doc.addEventListener('DOMContentLoaded', recalc, false);
            })(document, window);
        </script>
    </head>
    $screen_content
</html>
