<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:myname2="http://www.example.org/schema/user" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.example.org/schema/user http://www.example.org/schema/user.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">


    <bean id="userManager" class="com.spel.UserManager" >
        <property name="dataValue">
            <value>2013-03-05</value>
        </property>
    </bean>


    <bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer" >
        <property name="customEditors" >
            <map >
                <entry key="java.util.Date">
                    <bean class="com.spel.DatePropertyEditor">
                        <property name="formate" value="yyyy-MM-dd"></property>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>

</beans>