<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.UserMapper">


    <insert id="insertMapper" parameterType="User">

        INSERT INTO lsd_user (user_name,password) VALUES (#{userName},#{password})

    </insert>


    <select id="getUser" resultType="com.mybatis.domain.User" parameterType="java.lang.Long">


        select * from lsd_user where id = #{id}

    </select>
</mapper>